body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    background-color: rgb(71, 141, 233);
    font-size: 64px;
}

h3 {
    background-color: rgb(71, 141, 233);
}